## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN"], axis=1)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
unique_counts = application_df.nunique()
unique_counts

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [5]:
# Look at NAME value counts for binning
name_counts = application_df['NAME'].value_counts()
name_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [6]:
# create names to replace
names_to_replace = name_counts[name_counts < 5].index.tolist()

# Replace in dataframe
for app in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: NAME, Length: 403, dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_counts[application_counts < 500].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df["CLASSIFICATION"].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_gt1 = classification_counts[classification_counts > 1]
classification_counts_gt1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classification_counts[classification_counts < 100].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [12]:
unique_counts

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, columns=['NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
                                                        'USE_CASE', 'ORGANIZATION', 'STATUS',
                                                        'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'])
application_df.head()

,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,108590,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,5000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,6692,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,142590,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [15]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL']
X = application_df.drop(columns='IS_SUCCESSFUL')

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=66)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=20, activation="relu", input_dim=453))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=15, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 20)                9080

 dense_1 (Dense)             (None, 15)                315

 dense_2 (Dense)             (None, 1)                 16

=================================================================
Total params: 9,411
Trainable params: 9,411
Non-trainable params: 0
_________________________________________________________________

In [19]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [20]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 4s 4ms/step - loss: 0.5027 - accuracy: 0.7601 - val_loss: 0.4595 - val_accuracy: 0.7784
Epoch 2/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4344 - accuracy: 0.7928 - val_loss: 0.4489 - val_accuracy: 0.7823
Epoch 3/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4273 - accuracy: 0.7949 - val_loss: 0.4462 - val_accuracy: 0.7826
Epoch 4/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4242 - accuracy: 0.7955 - val_loss: 0.4454 - val_accuracy: 0.7844
Epoch 5/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4224 - accuracy: 0.7968 - val_loss: 0.4433 - val_accuracy: 0.7873
Epoch 6/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4203 - accuracy: 0.7971 - val_loss: 0.4431 - val_accuracy: 0.7865
Epoch 7/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4193 - accuracy: 0.7971 - val_loss: 0.4497 - val_accuracy: 0.7815
Epoch 8/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4182 - accuracy: 0.7987 - val_loss: 0.4434 - val_accuracy: 0.7826
Epoch 9/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4178 - accuracy: 0.7989 - val_loss: 0.4468 - val_accuracy: 0.7878
Epoch 10/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4168 - accuracy: 0.7993 - val_loss: 0.4433 - val_accuracy: 0.7865
Epoch 11/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4159 - accuracy: 0.8005 - val_loss: 0.4452 - val_accuracy: 0.7836
Epoch 12/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4155 - accuracy: 0.8001 - val_loss: 0.4471 - val_accuracy: 0.7865
Epoch 13/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4153 - accuracy: 0.7998 - val_loss: 0.4455 - val_accuracy: 0.7880
Epoch 14/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4152 - accuracy: 0.8002 - val_loss: 0.4442 - val_accuracy: 0.7888
Epoch 15/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4139 - accuracy: 0.8009 - val_loss: 0.4437 - val_accuracy: 0.7873
Epoch 16/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4137 - accuracy: 0.8000 - val_loss: 0.4467 - val_accuracy: 0.7857
Epoch 17/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4136 - accuracy: 0.8011 - val_loss: 0.4450 - val_accuracy: 0.7867
Epoch 18/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4130 - accuracy: 0.8017 - val_loss: 0.4476 - val_accuracy: 0.7857
Epoch 19/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4129 - accuracy: 0.8033 - val_loss: 0.4487 - val_accuracy: 0.7862
Epoch 20/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4124 - accuracy: 0.8021 - val_loss: 0.4482 - val_accuracy: 0.7849
Epoch 21/100
684/684 [==============================] - 5s 8ms/step - loss: 0.4120 - accuracy: 0.8028 - val_loss: 0.4469 - val_accuracy: 0.7873
Epoch 22/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4113 - accuracy: 0.8037 - val_loss: 0.4453 - val_accuracy: 0.7860
Epoch 23/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4113 - accuracy: 0.8023 - val_loss: 0.4486 - val_accuracy: 0.7823
Epoch 24/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4111 - accuracy: 0.8010 - val_loss: 0.4470 - val_accuracy: 0.7873
Epoch 25/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4106 - accuracy: 0.8039 - val_loss: 0.4483 - val_accuracy: 0.7844
Epoch 26/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4102 - accuracy: 0.8045 - val_loss: 0.4490 - val_accuracy: 0.7836
Epoch 27/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4097 - accuracy: 0.8027 - val_loss: 0.4479 - val_accuracy: 0.7857
Epoch 28/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4104 - accuracy: 0.8034 - val_loss: 0.4483 - val_accuracy: 0.7867
Epoch 29/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4097 - accuracy: 0.8038 - val_loss: 0.4506 - val_accuracy: 0.7826
Epoch 30/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4097 - accuracy: 0.8027 - val_loss: 0.4477 - val_accuracy: 0.7849
Epoch 31/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4092 - accuracy: 0.8045 - val_loss: 0.4538 - val_accuracy: 0.7834
Epoch 32/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4092 - accuracy: 0.8036 - val_loss: 0.4467 - val_accuracy: 0.7865
Epoch 33/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4090 - accuracy: 0.8038 - val_loss: 0.4485 - val_accuracy: 0.7841
Epoch 34/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4086 - accuracy: 0.8040 - val_loss: 0.4490 - val_accuracy: 0.7844
Epoch 35/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4082 - accuracy: 0.8047 - val_loss: 0.4484 - val_accuracy: 0.7870
Epoch 36/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4083 - accuracy: 0.8039 - val_loss: 0.4491 - val_accuracy: 0.7849
Epoch 37/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4080 - accuracy: 0.8060 - val_loss: 0.4477 - val_accuracy: 0.7880
Epoch 38/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4080 - accuracy: 0.8050 - val_loss: 0.4496 - val_accuracy: 0.7847
Epoch 39/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4081 - accuracy: 0.8046 - val_loss: 0.4484 - val_accuracy: 0.7880
Epoch 40/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4073 - accuracy: 0.8049 - val_loss: 0.4482 - val_accuracy: 0.7826
Epoch 41/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4069 - accuracy: 0.8051 - val_loss: 0.4483 - val_accuracy: 0.7885
Epoch 42/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4073 - accuracy: 0.8043 - val_loss: 0.4497 - val_accuracy: 0.7847
Epoch 43/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4072 - accuracy: 0.8047 - val_loss: 0.4489 - val_accuracy: 0.7860
Epoch 44/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4061 - accuracy: 0.8059 - val_loss: 0.4515 - val_accuracy: 0.7878
Epoch 45/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4064 - accuracy: 0.8051 - val_loss: 0.4499 - val_accuracy: 0.7844
Epoch 46/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4061 - accuracy: 0.8055 - val_loss: 0.4518 - val_accuracy: 0.7852
Epoch 47/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4065 - accuracy: 0.8056 - val_loss: 0.4500 - val_accuracy: 0.7841
Epoch 48/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4057 - accuracy: 0.8052 - val_loss: 0.4495 - val_accuracy: 0.7852
Epoch 49/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4053 - accuracy: 0.8057 - val_loss: 0.4524 - val_accuracy: 0.7847
Epoch 50/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4058 - accuracy: 0.8044 - val_loss: 0.4509 - val_accuracy: 0.7883
Epoch 51/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4057 - accuracy: 0.8049 - val_loss: 0.4524 - val_accuracy: 0.7857
Epoch 52/100
684/684 [==============================] - 5s 7ms/step - loss: 0.4056 - accuracy: 0.8059 - val_loss: 0.4500 - val_accuracy: 0.7870
Epoch 53/100
684/684 [==============================] - 6s 8ms/step - loss: 0.4058 - accuracy: 0.8052 - val_loss: 0.4498 - val_accuracy: 0.7831
Epoch 54/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4055 - accuracy: 0.8068 - val_loss: 0.4487 - val_accuracy: 0.7844
Epoch 55/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4049 - accuracy: 0.8058 - val_loss: 0.4535 - val_accuracy: 0.7828
Epoch 56/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4045 - accuracy: 0.8054 - val_loss: 0.4514 - val_accuracy: 0.7857
Epoch 57/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4049 - accuracy: 0.8065 - val_loss: 0.4526 - val_accuracy: 0.7873
Epoch 58/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4046 - accuracy: 0.8059 - val_loss: 0.4502 - val_accuracy: 0.7857
Epoch 59/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4048 - accuracy: 0.8061 - val_loss: 0.4517 - val_accuracy: 0.7844
Epoch 60/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4046 - accuracy: 0.8062 - val_loss: 0.4529 - val_accuracy: 0.7818
Epoch 61/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4042 - accuracy: 0.8065 - val_loss: 0.4524 - val_accuracy: 0.7836
Epoch 62/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4042 - accuracy: 0.8064 - val_loss: 0.4524 - val_accuracy: 0.7862
Epoch 63/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4042 - accuracy: 0.8078 - val_loss: 0.4525 - val_accuracy: 0.7857
Epoch 64/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4038 - accuracy: 0.8067 - val_loss: 0.4525 - val_accuracy: 0.7873
Epoch 65/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4040 - accuracy: 0.8065 - val_loss: 0.4525 - val_accuracy: 0.7875
Epoch 66/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4038 - accuracy: 0.8075 - val_loss: 0.4552 - val_accuracy: 0.7821
Epoch 67/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4040 - accuracy: 0.8062 - val_loss: 0.4526 - val_accuracy: 0.7857
Epoch 68/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4038 - accuracy: 0.8059 - val_loss: 0.4501 - val_accuracy: 0.7854
Epoch 69/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4034 - accuracy: 0.8064 - val_loss: 0.4512 - val_accuracy: 0.7841
Epoch 70/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4032 - accuracy: 0.8075 - val_loss: 0.4531 - val_accuracy: 0.7839
Epoch 71/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4033 - accuracy: 0.8068 - val_loss: 0.4562 - val_accuracy: 0.7821
Epoch 72/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4036 - accuracy: 0.8062 - val_loss: 0.4510 - val_accuracy: 0.7852
Epoch 73/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4029 - accuracy: 0.8075 - val_loss: 0.4516 - val_accuracy: 0.7849
Epoch 74/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4030 - accuracy: 0.8074 - val_loss: 0.4509 - val_accuracy: 0.7849
Epoch 75/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4033 - accuracy: 0.8066 - val_loss: 0.4513 - val_accuracy: 0.7865
Epoch 76/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4026 - accuracy: 0.8075 - val_loss: 0.4545 - val_accuracy: 0.7839
Epoch 77/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4025 - accuracy: 0.8058 - val_loss: 0.4519 - val_accuracy: 0.7865
Epoch 78/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4023 - accuracy: 0.8079 - val_loss: 0.4567 - val_accuracy: 0.7831
Epoch 79/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4028 - accuracy: 0.8066 - val_loss: 0.4549 - val_accuracy: 0.7836
Epoch 80/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4021 - accuracy: 0.8082 - val_loss: 0.4534 - val_accuracy: 0.7839
Epoch 81/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4025 - accuracy: 0.8075 - val_loss: 0.4548 - val_accuracy: 0.7839
Epoch 82/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4026 - accuracy: 0.8080 - val_loss: 0.4555 - val_accuracy: 0.7831
Epoch 83/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4025 - accuracy: 0.8077 - val_loss: 0.4544 - val_accuracy: 0.7826
Epoch 84/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4026 - accuracy: 0.8074 - val_loss: 0.4548 - val_accuracy: 0.7867
Epoch 85/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4024 - accuracy: 0.8076 - val_loss: 0.4518 - val_accuracy: 0.7852
Epoch 86/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4025 - accuracy: 0.8080 - val_loss: 0.4535 - val_accuracy: 0.7844
Epoch 87/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4021 - accuracy: 0.8066 - val_loss: 0.4568 - val_accuracy: 0.7795
Epoch 88/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4020 - accuracy: 0.8077 - val_loss: 0.4524 - val_accuracy: 0.7836
Epoch 89/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4020 - accuracy: 0.8072 - val_loss: 0.4548 - val_accuracy: 0.7834
Epoch 90/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4023 - accuracy: 0.8077 - val_loss: 0.4561 - val_accuracy: 0.7823
Epoch 91/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4018 - accuracy: 0.8078 - val_loss: 0.4570 - val_accuracy: 0.7813
Epoch 92/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4020 - accuracy: 0.8080 - val_loss: 0.4556 - val_accuracy: 0.7813
Epoch 93/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4019 - accuracy: 0.8081 - val_loss: 0.4560 - val_accuracy: 0.7841
Epoch 94/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4016 - accuracy: 0.8083 - val_loss: 0.4553 - val_accuracy: 0.7828
Epoch 95/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4017 - accuracy: 0.8081 - val_loss: 0.4547 - val_accuracy: 0.7839
Epoch 96/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4017 - accuracy: 0.8080 - val_loss: 0.4558 - val_accuracy: 0.7828
Epoch 97/100
684/684 [==============================] - 5s 7ms/step - loss: 0.4012 - accuracy: 0.8073 - val_loss: 0.4553 - val_accuracy: 0.7849
Epoch 98/100
684/684 [==============================] - 6s 8ms/step - loss: 0.4015 - accuracy: 0.8075 - val_loss: 0.4537 - val_accuracy: 0.7826
Epoch 99/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4013 - accuracy: 0.8083 - val_loss: 0.4531 - val_accuracy: 0.7852
Epoch 100/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4011 - accuracy: 0.8080 - val_loss: 0.4555 - val_accuracy: 0.7818

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4529 - accuracy: 0.7990 - 589ms/epoch - 2ms/step
Loss: 0.4529000520706177, Accuracy: 0.7989504337310791

In [22]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")